<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomtom.deliveryroute">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- needed for reading route.csv -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- needed for the overlay window -->

    <application
        android:name="com.tomtom.deliveryroute.DeliveryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_local_shipping_white_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tomtom.deliveryroute.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.tomtom.deliveryroute.RouteService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.tomtom.deliveryroute.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <receiver android:name="com.tomtom.deliveryroute.ListWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service
            android:name=".ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <receiver android:name="com.tomtom.deliveryroute.ListClickReceiver"/>

    </application>

</manifest>